<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <import resource="classpath:spring-soy-view-base-config.xml" />

    <bean autowire="byType" id="soyHashFileGenerator" class="pl.matisoft.soy.ajax.hash.MD5HashFileGenerator">
        <property name="hotReloadMode" value="${soy.hot.reload.mode:false}" />
    </bean>

    <bean autowire="byType" id="soyTemplateUrlComposer" class="pl.matisoft.soy.ajax.url.DefaultTemplateUrlComposer">
        <property name="siteUrl" value="${soy.site.url:}" />
    </bean>

    <bean autowire="byType" id="soyAuthManager" class="pl.matisoft.soy.ajax.auth.PermissableAuthManager" />

    <bean autowire="byType" id="soyOutputProcessors" class="org.springframework.beans.factory.config.ListFactoryBean">
        <property name="targetListClass">
            <value>java.util.ArrayList</value>
        </property>
        <property name="sourceList">
            <list>
                <bean class="pl.matisoft.soy.ajax.process.google.GoogleClosureOutputProcessor">
                    <property name="encoding" value="${soy.encoding:utf-8}" />
                    <property name="logCompilerErrors" value="${soy.google.min.log.errors:false}" />
                    <property name="logCompilerWarnings" value="${soy.google.min.log.warn:false}" />
                </bean>
            </list>
        </property>
    </bean>

    <bean autowire="byType" id="soyAjaxSoyController" class="pl.matisoft.soy.ajax.SoyAjaxController">
        <property name="hotReloadMode" value="${soy.hot.reload.mode:false}" />
        <property name="cacheControl" value="${soy.cache.busting.cache.control:public, max-age=86400}" /> <!-- one year -->
        <property name="encoding" value="${soy.encoding:utf-8}" />
    </bean>

</beans>
